html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
}


body {
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    font-weight: 500;
    background: linear-gradient(45deg, hotpink, skyblue 100%) no-repeat fixed;
    justify-content: center;
}

.result_table{
    width: 75%;
    margin: 80px auto;
    height: 40%;
}

header {
    font-size: 30px;
    max-width: 1200px;

}

.r {
    justify-content: center;
    margin-right: 179px;
    margin-top: 10px;
    color: black;
    font-size: 20px;
}

.y {
    justify-content: center;
    color: black;
    font-size: 20px;
}

.x {
    justify-content: center;
    margin-top: 20px;
    /*margin-right: 156px;*/
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
}

table {
    overflow: scroll;
    height: 100%;
    width: 95%;
    border: 1px solid white;
    border-collapse: collapse;
    margin-right: 10px;
}

table th {
    font-weight: bold;
    padding: 5px;
    /*background: hotpink;*/
    border: 1px white;
}

table td {
    align-items: center;
    border: 1px solid white;
    padding: 5px;
}

button {
    font-family: Arial, sans-serif;
    margin-right: 370px;
    margin-bottom: 10px;
    font-size: large;
    cursor: pointer;
    text-align: center;
    width: 180px;
    height: 40px;
    margin-top: 10px;
    border: solid black;
    border-radius: 200px;
    color: black;
    /*background-image: linear-gradient(45deg, hotpink , skyblue 100%);*/
}

.clear {
    background-color: skyblue;
    margin-left: 50px;
}

.check {
    background-color: lightblue;
}

.graph {
    margin-top: 20px;
    margin-right: 370px;
    margin-bottom: 10px;
}

form {
    margin-left: 10px;
    font-size: 20px;
    margin-right: 60px;
}

.image {
    margin-right: 350px;
    margin-bottom: 10px;
}

.

